<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>New</title>
  </head>
  <body>
    <h1>Log In Below:</h1>
    <form action="/sessions" method="POST">

      <p>Email: <input type="text" name="email"></p>
      <p>Password: <input type="password" name="password"></p>

      <input id="sign in" type="submit" value="Sign In">
    </form>

  </body>
</html>
